.ne-my-project {
    padding: 5rem 0rem;
}

.project-title.main-container {
    padding: 0;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
}

.not-found {
    text-align: center;
}