.ne-card-project {
    background: #e9eaeb;
    border: 2px solid #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 40px;
    transition: all ease 0.5s;
}

.ne-card-project:hover {
    border: 2px solid #14b789;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.ne-card-project .project-info p{
    font-size: 12px;
    font-weight:20px;
    color: #14B789;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.ne-card-project .project-info h3{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}
.ne-card-project img{
    border-radius:20px;
    display: block;
    width: 100%;
    height: 250px;
    transform: rotate(10deg) translateY(80px);
    transition: all ease 0.5s;
    cursor: pointer;
}
.ne-card-project:hover img{
    transform: rotate(0) translateY(0);
}