.main-title {
  margin-bottom: 3rem;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  background-color: #14b789;
  align-items: center;
  border-radius: 10px;
}

.main-title img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 80px;
}

.main-title h2 {
  margin-left: 1.5rem;
  color: #ffffff;
  font-size: 3rem;
}

@media (max-width: 767px) {
  .main-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
