.ne-my-project{
    padding: 5rem 0;
}
.ne-header{
    display: flex;
    justify-content: end;
    align-items: center;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    margin-top: 3rem;
}
