.ne-my-project{
    padding-top: 5rem;

}
.ne-header{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
}
.card-wrapper{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
