.dashboard-section {
    background-color: #535da1;
    padding: 7rem 0;
}

.dashboard-section h1 {
    text-align: center;
    text-transform: uppercase;
}

.dashboard-section p {
    text-align: center;
    margin-top: 30px;
}

.dashboard-section .main-button {
    background-color: #14b789;
    display: block;
    margin: 10px auto !important;
}

.dashboard-section .main-button:hover {
    background-color: #535da1;   
}