.contact {
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1050px) {
  .contact {
    flex-direction: column;
  }
}
